# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

*.pcd
*.pyc
*.user

*~
*.old.*
.#*

archive
build_*
doxygen
.doctrees
.
install
build
log
.DS_Store
notes
notebooks
data
.ipynb_checkpoints
.sublime*
docs/notebook/experiment_*

