# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

*.pcd
*.pyc
*.user

*~
*.old.*
.#*

archive
build_*
doxygen
.doctrees
.
install
build
log
.DS_Store
notes
notebooks
data
.ipynb_checkpoints
.sublime*
docs/**/experiment_*
docs/_build/**/*.ipynb
docs/Makefile
docs/make.bat
*.h5
.vs
playground
garbage
private
dev
*archive*
*.dev.*
sketches
stubs
.clang-format
docs/tutorials/*.mp4
docs/tutorials/*.html
navground_coppeliasim/docs
navground_core/src/behaviors/ORCA/RVO/
dist
fixed_wheels
*.egg-info
navground_py