# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

*.pcd
*.pyc
*.user

*~
*.old.*
.#*

doxygen
.doctrees
.
install
build
_build
log
.DS_Store
.ipynb_checkpoints
.sublime*
docs/Makefile
docs/make.bat
docs/**/*.mp4
docs/**/*.zsh
docs/**/*.html
docs/**/experiment_*
*.h5
.vs
.clang-format
dist
*.egg-info
*.so
*.dylib
*.json
*.tag.xml
.mypy_cache
.ruff_cache
.pytest_cache
.my_gitignore
*.whl
out