/*svg{
  style=stroke-width: 0px;
}
*/
circle.obstacle{
  fill: gray; 
  stroke:none;
}
polyline.wall{
  stroke:black;
  stroke-width:0.01;
}

.shape {
  fill: none;
  stroke: black;
  stroke-width: 0.01;
  stroke-dasharray: 0.01;
}

.thymio {
  fill: #e6e6e6;
}

.human {
  fill: #666666;
}

.agent {
  fill: gray;
}

.wheelchair {
  fill: #483e37;
}

/*.body {
    all: inherit;
}
*/


