<launch>

  <group>
    <push-ros-namespace namespace="user_1"/>
    <include file="$(find-pkg-share navground_ros)/launch/navigation.launch">
      <arg name="type" value="HEAD"/>
      <arg name="tol_distance" value="0.75"/>
      <arg name="tol_angle" value="0.5"/>
      <arg name="maximal_speed" value="1.0"/>
      <arg name="optimal_speed" value="1.0"/>
      <arg name="optimal_angular_speed" value="4.0"/>
      <arg name="maximal_angular_speed" value="4.0"/>
      <!-- <arg name="max_rotation_speed" value="4.0"/>f -->
      <!-- <arg name="optimal_rotation_speed" value="4.0"/> -->
      <arg name="horizon" value="5.0"/>
      <!-- <arg name="aperture" value="1.0"/> -->

    </include>
    <node pkg="navground_utils" exec="follow_path" name="follow" output="screen">
      <param name="path" value="5.0, 0.0, -5.0, 0.0" value-sep=", "/>
    </node>
  </group>

  <group>
    <push-ros-namespace namespace="user_2"/>
    <include file="$(find-pkg-share navground_ros)/launch/navigation.launch">
      <arg name="type" value="HEAD"/>
      <arg name="tol_distance" value="0.75"/>
      <arg name="tol_angle" value="0.5"/>
      <arg name="maximal_speed" value="1.0"/>
      <arg name="optimal_speed" value="1.0"/>
      <arg name="optimal_angular_speed" value="4.0"/>
      <arg name="maximal_angular_speed" value="4.0"/>
      <arg name="max_rotation_speed" value="4.0"/>
      <arg name="optimal_rotation_speed" value="4.0"/>
      <arg name="drawing" value="false"/>
      <arg name="horizon" value="5.0"/>
      <param name="path" value="-5.0, 0.0, 5.0, 0.0" value-sep=", "/>
f

    </include>
    <node pkg="navground_utils" exec="follow_path" name="follow" output="screen">
    </node>
  </group>

</launch>
