svg{
  style='stroke-width: 0px;
  background-color: snow;
}
.background{
  fill-opacity:0.05;
  fill: grey;
}
circle.obstacle{
  fill: gray; 
  stroke:none;
}
.agent{
  stroke:none;
  fill: orange;
}
polyline.wall{
  stroke:black;
  stroke-width:0.01;
}


