<!DOCTYPE html>

<html>
<head>
  <!-- {% if not notebook %} -->
  <!-- <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/svg.pan-zoom.js/2.8.0/svg.pan-zoom.min.js" type="text/javascript"></script> -->
  <!-- {% endif %} -->
  <title>{{world_name}}</title>
  {% if external_style_path %}
  <link rel="stylesheet" type="text/css" href="{{external_style_path}}">
  {% endif %}
  {% if with_websocket %}
  {% if include_script_path %}
  <script type='text/javascript' src="{{include_script_path}}"></script>
  {% else %}
  <script type='text/javascript'>
    {% include 'client.js' %}
  </script>
  {% endif %}
  <script type='text/javascript'>
    var {{prefix}}client = new WebUIClient({{port}}, "{{prefix}}", {{"true" if display_shape else "false"}})
    {{prefix}}client.connect();
  </script>
  {% endif %}
  {% if style %}
  <style>
  {{style}}
  </style>
  {% endif %}
</head>
<body>
  <div>
    <h1>{{world_name}}</h1>
  </div>
  {{svg}}
</body>
</html>
